.card {
    background-color: rgb(65, 93, 184);
    border: 1px solid rgb(56, 56, 158);
    border-radius: 8px;
    box-shadow: 2px;
    padding: 20px;
    width: 400px;
    height: fit-content;
}

.image{
    max-width:200px ;
    max-height: 200px;

}



